  <div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <!-- <h1 class="title">Better offer</h1> -->
       <!-- <p class="slogan">Better offer can guarantee you better life。 -->
        <p class="slogan"> 一次尝试，带来终身改变

         <!-- <br>
         年薪25W起，每天都有新机会 -->
       </p>
       <p class="slogan2">年薪25W起，每天都有新机会</p>
       <p class="leadbox">
         <%= link_to '立即申请', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>


<!-- second part -->






<!-- second part -->

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">海量公司等你来</h2>
          <p class="lead">每周精选100+A轮以上最具前景的互联网企业</p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag 'pic1.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">超及时反馈</h2>
          <p class="lead">7天内您申请的公司肯定会给您回复</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag 'pic2.jpg', class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>


<!-- third part -->
<section id="Categories">
<div class="container">
  <h1>工作类别</h1>

  <hr />
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("manager.png") %>
        <div class="caption">
          <h4><%#= link_to("产品经理／主管", jobs_path(:order => "by_产品经理／主管")) %></h4>
          <h4><%= link_to("产品经理／主管", category_jobs_path(:order1 => "by_产品经理／主管")) %></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("gamepad.png") %>
        <div class="caption">
          <h4><%= link_to("游戏开发", jobs_path(:order => "by_customer-service")) %></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("newmedia.png") %>
        <div class="caption">
          <h4><%= link_to("新媒体运营", jobs_path(:order => "by_healthcare")) %></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("hardware.png") %>
        <div class="caption">
          <h4><%= link_to("硬件开发", jobs_path(:order => "by_sales-marketing")) %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
     <div class="thumbnail">
        <%= image_tag("web.png") %>
        <div class="caption">
          <h4><%= link_to("web开发", jobs_path(:order => "by_legal")) %></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("android.png") %>
        <div class="caption">
          <h4><%= link_to("Android开发", jobs_path(:order => "by_non-profit")) %></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("cloud.png") %>
        <div class="caption">
          <h4><%= link_to("云计算", jobs_path(:order => "by_human-resource")) %></h4>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("test engineer.png") %>
        <div class="caption">
          <h4><%= link_to("测试工程师", jobs_path(:order => "by_design")) %></h4>
        </div>
      </div>
    </div>
  </div>
</div>

</section>



<!-- fourth part -->

<section id="testimonials" class="sec-testimonials">
   <div class="container">
     <h1>他／她们说</h1>

     <hr />

     <div class="row">
       <div class="col-sm-4">
         <p class="text-center">"BETTER OFFER让我在一周之内就收到了梦想工作的offer，太令我吃惊了! "</p>

         <p class="text-right">&mdash; 郭靖</p>
       </div>

       <div class="col-sm-4">
         <p class="text-center">"想要高薪？想要优雅的工作环境？想要弹性的工作，来BETTER OFFER吧！"</p>

         <p class="text-right">&mdash; 黄蓉</p>
       </div>

       <div class="col-sm-4">
         <p class="text-center">"BETTER OFFER，优质的合作公司，专业的服务精神，值得你的信赖！ "</p>

         <p class="text-right">&mdash; 杨康</p>
       </div>
     </div>
   </div>
 </section>


<!-- fifth part -->

  <div>
     <div class="block-submit-last">
       <p class="slogan3">赶快来应聘，美好的未来等着你……</p>
           <p class="leadblock"><a class="btn btn-lg btn-danger" href="/jobs">马上应聘</a></p>
      </div>
    </div>
